<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.portal.mapper.DeepAnalysisMapper">
    <resultMap id="DeepAnalysisResultMap" type="com.example.portal.entity.DeepAnalysis">
        <id column="id" property="id"/>
        <result column="analysis_name" property="analysisName"/>
        <result column="jump_url" property="jumpUrl"/>
        <result column="view_count" property="viewCount"/>
        <result column="status" property="status"/>
        <result column="publish_date" property="publishDate"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>

    <select id="selectAll"   resultMap="DeepAnalysisResultMap">
        SELECT id, analysis_name, jump_url, view_count, status, publish_date,
        create_date, update_date, create_user, update_user,category_name FROM deep_analysis
        <where>
            1=1
            <if test="analysisName != null and analysisName != ''">
                AND analysis_name LIKE CONCAT('%', #{analysisName}, '%')
            </if>
        </where>
        ORDER BY create_date DESC
        LIMIT   #{size} OFFSET   #{currentPage}
    </select>


    <select id="getDeepAnalysisTopList"   resultMap="DeepAnalysisResultMap">
        SELECT id, analysis_name, jump_url, view_count, status, publish_date,
        create_date, update_date, create_user, update_user,category_name FROM deep_analysis
        <where>
            status = 1
            <if test="categoryName != null and categoryName != ''">
                AND category_name LIKE CONCAT('%', #{categoryName}, '%')
            </if>
        </where>
        ORDER BY create_date DESC
        LIMIT   #{contentSize} OFFSET   0
    </select>


    <select id="countAll"   resultType="java.lang.Integer">
        SELECT  COUNT(*) FROM deep_analysis
        <where>
            1=1
            <if test="analysisName != null and analysisName != ''">
                AND analysis_name LIKE CONCAT('%', #{analysisName}, '%')
            </if>
        </where>
    </select>
</mapper>