<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.portal.mapper.IndustryMapper">
    <resultMap id="IndustryMapResultMap" type="com.example.portal.entity.IndustryMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="value" property="value"/>
    </resultMap>

    <select id="findIndustryMapper"   resultMap="IndustryMapResultMap">
        SELECT id, title,value FROM industry_map
        <where>
            1=1
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="value != null and value != ''">
                AND value LIKE CONCAT('%', #{value}, '%')
            </if>
        </where>
        LIMIT   #{size} OFFSET   #{currentPage}
    </select>


    <select id="countAll"   resultType="java.lang.Integer">
        SELECT  COUNT(*) FROM industry_map
        <where>
            1=1
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="value != null and value != ''">
                AND value LIKE CONCAT('%', #{value}, '%')
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO  industry_map
        (
        title,
        value )
        VALUES
        (  #{title}, #{value} )
    </insert>

    <update id="update">
        UPDATE industry_map SET
                                title = #{title},
                                value = #{value}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM industry_map WHERE id = #{id}
    </delete>

</mapper>